@model _24DH113182_LTW.Models.ViewModel.LoginVM

@{ 
    ViewBag.Title = "Profile Information";
    Layout = "~/Areas/Customer/Shared/_CustomerLayout.cshtml";
}

<main>
    <section>
        <div class="col-md-10">
            <div class="control-label col-md-3">Họ và tên</div>
        </div>
        <div class="col-md-10">
            <div class="control-label col-md-3"></div>
        </div>
        <div class="col-md-10">
            <div class="control-label col-md-3"></div>
        </div>
    </section>
</main>
