@model _24DH113182_LTW.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3 style="color: red;">Bạn có chắc muốn xóa sản phẩm này không?</h3>

@Html.Partial("PVProductInfo", Model)

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về danh sách sản phẩm", "Index", null, new {@class = "btn btn-primary"})
        </div>
    </div>
}
