@model _24DH113182_LTW.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Chi tiết sản phẩm</h2>

@Html.Partial("PVProductInfo", Model)

<div class="form-group">
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new {@class = "btn btn-primary"}) |
        @Html.ActionLink("Trở về danh sách sản phẩm", "Index", null, new { @class = "btn btn-primary" })
    </p>
</div>

