@model _24DH113182_LTW.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Chi tiết sản phẩm</h2>
@Html.Partial("PVProductInfo", Model) 

<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.CategoryID }, new {@class = "btn btn-primary"}) |
    @Html.ActionLink("Trở về danh sách", "Index", null, new { @class = "btn btn-primary" })
</p>
