@model _24DH113182_LTW.Models.Category

@*Partial View cho các phần chung của Category Edit + Create*@

@*Category Name*@
<div class="form-group">
    @*@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="control-label col-md-2">Tên danh mục</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
    </div>
</div>
@* Button*@
<div class="form-group">
    <div style="margin-top: 10px">
        <input type="submit" value="Create" class="btn btn-primary" />
        <input type="submit" value="Lưu" class="btn btn-primary" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
